<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post">{% csrf_token %}
        {{ formset.management_form }}

        {{ form.as_p }}



        {% for form in formset %}

            {{ form }}

            
        {% endfor %}
        <button onclick="addTarefa()" id="btnAdd" class="add">Adicionar</button>

        <input type="submit" value="Criar">
    </form>
</body>
</html>
