{% extends 'base.html'%}

{% block conteudo %}
    <div class="container text-center">
        <div class="list-group">
        <a href="{% url 'lista_treino'%}"class="list-group-item list-group-item-action">Treinos</a>
        <a href="{% url 'lista_tipo_treino'%}"class="list-group-item list-group-item-action">Tipo de treino</a>
        <a href=""class="list-group-item list-group-item-action">Historico de treinos</a>
        <a href="{% url 'lista_exercicio'%}"class="list-group-item list-group-item-action">Exercicios</a>
    </div>
</div>
    
{% endblock %}